<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <header>
    <nav class="navbar navbar-expand-md navbar-dark ">
    <div>
      <a class="navbar-brand" routerLink="/">
      
      <img src="./assets/wa.png">
      
      
      </a>
      </div>
    

      <ul class="navbar-nav">
        <li><a routerLink="/" class="nav-link"><i class="fa fa-fw fa-home"></i> Home</a> 
        
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
           
            <li><a routerLink="/logout" class="nav-link" ><i class="fa fa-fw fa-user"></i>Logout</a></li>
    </ul>
</nav>
</header>