<!-- Start Content-->
<div class="container-fluid">
                        
    <div class="row justify-content-center my-5">
        <div class="col-lg-6 col-xl-4 mb-4">
            <div class="error-text-box">
                <svg viewBox="0 0 600 200">
                    <!-- Symbol-->
                    <symbol id="s-text">
                       
                    </symbol>
                    <!-- Duplicate symbols-->
                    <use class="text" xlink:href="#s-text"></use>
                    <use class="text" xlink:href="#s-text"></use>
                    <use class="text" xlink:href="#s-text"></use>
                    <use class="text" xlink:href="#s-text"></use>
                    <use class="text" xlink:href="#s-text"></use>
                </svg>
            </div>
            <div class="text-center">
                <h3 class="mt-0 mb-2">You are logged Out!  </h3>
                <br>
        

                <a href="javascript: void(0);" routerLink="/" class="btn btn-success waves-effect waves-light">Back to Home</a>
            </div>
            <!-- end row -->

        </div> <!-- end col -->
    </div>
    <!-- end row -->

    
</div> <!-- container -->
