<!-- 
<header>
<app-navbar></app-navbar>

</header>

 

 
    


  
  <body>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        
        <button  routerLink="/addcompany"  class="btn btn-sm btn-outline-secondary" type="button">Add Comapny</button>
        <button   routerLink="/addeducation" class="btn btn-sm btn-outline-secondary" type="button">Add Education</button>
        <button routerLink="/addIndi" class="btn btn-sm btn-outline-secondary" type="button">Add Individual</button>
        <button routerLink="/companyList" class="btn btn-sm btn-outline-secondary" type="button">List Companeis</button>
  
        <button routerLink="/eduList" class="btn btn-sm btn-outline-secondary" type="button">List Education</button>
        <button routerLink="/indiList" class="btn btn-sm btn-outline-secondary" type="button">List Individual</button>
      </form>
    </nav>
    
  
  
  
  </body> 
   -->